@{
    ViewData["Title"] = "VisualizarUsuario";
}

{{titulo }}
<p> 
    Nome : <input [(ngModel)]="nome"> 
<p>
 
{{nome}}

<p>
<button (click)="onClickMe()">Clique Aqui</button>    
<p>

{{mensagem}}



